.maxh{
    &-200{
        max-height: 200px;
    }
    &-300{
        max-height: 300px;
    }
    &-400{
        max-height: 400px;
    }
    &-500{
        max-height: 500px;
    }
    &-600{
        max-height: 600px;
    }
    &-700{
        max-height: 700px;
    }
}